// For more information:
// https://yalter.github.io/niri/Configuration%3A-Key-Bindings.html

binds {
    Mod+Return  { spawn "kitty"; }
    Mod+Space   { spawn-sh "rofi -show drun"; }
    Mod+C       { spawn "code"; }
    Mod+B       { spawn "brave"; }
    Mod+E       { spawn "nautilus"; }
}
