// Wiki: https://yalter.github.io/niri/Configuration%3A-Key-Bindings.html

binds {
    // Use spawn-sh to run a shell command. Do this if you need pipes, multiple commands, etc.
    // use "-e" flag with your terminal name to execute the command via that terminal.
    Mod+N { spawn-sh "kitty -e nvim"; }
    Mod+S { spawn-sh "~/.config/niri/scripts/screen-record.sh"; }
    Print { spawn-sh "~/.config/niri/scripts/screen-shot.sh"; }
    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }
}
