// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Layout

layout {
    // Set gaps around windows in logical pixels.
    gaps 0

    // When to center a column when changing focus.
    center-focused-column "never"

    // You can customize the widths that "switch-preset-column-width" (Mod+R) toggles between.
    preset-column-widths {
        proportion 1.33333
        proportion 1.5
        proportion 1.66667

        // Fixed sets the width in logical pixels exactly.
        // fixed 1921
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    // preset-window-heights { }

    // You can change the default width of the new windows.
    default-column-width { proportion 1.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    // You can change how the focus ring looks.
    focus-ring {
        // Replace "off" with "on" to enable focus ring.
        off

        // How many logical pixels the ring extends out from the windows.
        width 1.2

        // Colors can be set in a variety of ways: named colors, rgb-hex, css-like notations

        // Color of the ring on the active monitor.
        active-color "#ffffff"

        // Color of the ring on inactive monitors.
        // The focus ring only draws around the active window, so the only place
        // where you can see its inactive-color is on other monitors.
        inactive-color "#505051"

        // You can also use gradients. They take precedence over solid colors.
        // active-gradient from="#81c8ff" to="#c7ff7f" angle=45

        // You can also color the gradient relative to the entire view
        // of the workspace, rather than relative to just the window itself.
        // To do that, set relative-to="workspace-view".
        // inactive-gradient from="#505051" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        off

        width 5
        active-color "#ffc88f"
        inactive-color "#505051"

        // Color of the border around windows that request your attention.
        urgent-color "#10b000"

        // Gradients can use a few different interpolation color spaces.
        // For example, this is a pastel rainbow gradient via in="oklch longer hue".
        //
        // active-gradient from="#e5990b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"

        // inactive-gradient from="#505051" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can enable drop shadows for windows.
    shadow {
        // comment the next line to disable shadows.
         on

        // You can change how shadows look. The values below are in logical
        // pixels and match the CSS box-shadow properties.

        // Softness controls the shadow blur radius.
        softness 31

        // Spread expands the shadow.
        spread 6

        // Offset moves the shadow relative to the window.
        offset x=1 y=5

        // You can also change the shadow color and opacity.
        color "#0008"
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        // left 65
        // right 65
        // top 65
        // bottom 65
    }
}
