// For more info:
// Wiki: https://yalter.github.io/niri/Configuration%3A-Miscellaneous.html#prefer-no-csd

// comment this line to not ask the clients to omit their client-side decorations.
 prefer-no-csd

hotkey-overlay {
    // comment this line to enable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}


// some settings to set your cursor to a custom theme
cursor {
  xcursor-theme "Future-cursors"
  xcursor-size 27
}

environment {
  XCURSOR_THEME "Future-cursors"
  XCURSOR_SIZE "24"
}
