// For more info on them visit:
// https://yalter.github.io/niri/Configuration%3A-Named-Workspaces.html

// You can also use window-rules to make specific applications open-up only on
// specified workspaces and control how they appear, like fullscreen or no etc.
// We use named-workspaces for this purpose.


workspace "1" {}  // For browsing web and files
workspace "2" {}  //  For terminals and coding
workspace "3" {}  //  For chatting/socials
workspace "4" {}  //  For media

// Open each window in full screen mode. Turn it to false to disable this.
window-rule {
  open-maximized true
}


// Workspace 1

window-rule {
  match app-id="brave"
  open-on-workspace "1"
}

window-rule {
  match title="nautilus"
  open-on-workspace "1"
}

// Workspace 2

window-rule {
  match title="kitty"
  open-on-workspace "2"
}

window-rule {
  match app-id="code"
  open-on-workspace "2"
}

window-rule {
  match app-id="zed"
  open-on-workspace "2"
}

// Workspace 3

window-rule {
  match title="Discord"
  open-on-workspace "3"
}

window-rule {
  match title="Instagram"
  open-on-workspace "3"
}

window-rule {
  match title="Reddit"
  open-on-workspace "3"
}

// Workspace 4

window-rule {
  match title="Komikku"
  open-on-workspace "4"
}

window-rule {
  match title="Netflix"
  open-on-workspace "4"
}
