// For more information:
// https://yalter.github.io/niri/Configurtion%3A-Miscellaneous.html#spawn-at-startup
// and:
// https://yalter.github.io/niri/Configuration%3A-Miscellaneous.html#spawn-sh-at-startup

// Use "spawn-at-startup" to run a process at startup
// Use "spawn-sh-at-startup" to run a process at startup via shell

spawn-at-startup "swaync"
spawn-at-startup "swayosd-server"
spawn-at-startup "waybar"
spawn-at-startup "systemctl" "--user" "import-environment" "XDG_CURRENT_DESKTOP" "WAYLAND_DISPLAY"
spawn-at-startup "systemctl" "--user" "restart" "xdg-desktop-portal"
spawn-sh-at-startup "~/.config/niri/scripts/set-wallpaper.sh"
spawn-sh-at-startup "wl-paste --watch cliphist store"
